/* Copied theme colors from Gravity Web */
:root {
    --colors-black: #0b0b0b;
    --colors-black-tint-1: #232323;
    --colors-black-tint-2: #3c3c3c;
    --colors-black-tint-3: #545454;
    --colors-black-tint-4: #6d6d6d;
    --colors-black-tint-5: #858585;
    --colors-white: #faeeee;
    --colors-white-shade-1: #7d7777;
    --colors-white-shade-2: #968f8f;
    --colors-white-shade-3: #afa7a7;
    --colors-white-shade-4: #c8bebe;
    --colors-white-shade-5: #e1d6d6;

    --colors-navy: #13192a;
    /* --colors-navy-tint-1: #2b303f;
    --colors-navy-tint-2: #434754;
    --colors-navy-tint-3: #5b5e69;
    --colors-navy-tint-4: #73757e;
    --colors-navy-tint-5: #8b8c93;
    --colors-navy-tint-6: #a3a3a8;
    --colors-navy-tint-7: #bbbabd;
    --colors-navy-tint-8: #d3d1d2;
    --colors-navy-shade-1: #111726;
    --colors-navy-shade-2: #0f1522;
    --colors-navy-shade-3: #0d131e;
    --colors-navy-shade-4: #0b1019;
    --colors-navy-shade-5: #090e15;
    --colors-navy-shade-6: #070c11;
    --colors-navy-shade-7: #050a0d;
    --colors-navy-shade-8: #030508; */

    --colors-orange: #f1a052;
    /* --colors-orange-tint-1: #f2aa63;
    --colors-orange-tint-2: #f3b375;
    --colors-orange-tint-3: #f5bd86;
    --colors-orange-tint-4: #f6c698;
    --colors-orange-tint-5: #f7d0a9;
    --colors-orange-tint-6: #f9d9bb;
    --colors-orange-tint-7: #fae3cc;
    --colors-orange-tint-8: #fcecdd;
    --colors-orange-shade-1: #301f10;
    --colors-orange-shade-2: #482f18;
    --colors-orange-shade-3: #603f20;
    --colors-orange-shade-4: #784f28;
    --colors-orange-shade-5: #905f30;
    --colors-orange-shade-6: #a86f38;
    --colors-orange-shade-7: #c07f40;
    --colors-orange-shade-8: #d88f48; */

    --font-sizes-h1: 3.6rem;
    --font-sizes-h2: 2.6rem;
    --font-sizes-h3: 2.2rem;
    --font-sizes-h4: 2rem;
    --font-sizes-h5: 1.6rem;
    --font-sizes-h6: 1.2rem;
    --font-sizes-p: 1.35rem;
    --font-bold: 600;
    --font-medium: 500;
    --font-normal: 400;
}

[data-md-color-scheme="dark"] {
    --md-accent-fg-color: var(--colors-orange);
    --md-primary-fg-color: var(--colors-navy);
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #90030C;
    /* Copied from slate */
    --md-hue: 232;
    --md-default-fg-color: hsla(var(--md-hue), 75%, 95%, 1);
    --md-default-fg-color--light: hsla(var(--md-hue), 75%, 90%, 0.62);
    --md-default-fg-color--lighter: hsla(var(--md-hue), 75%, 90%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 21%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 21%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 21%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 21%, 0.07);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
    --md-code-bg-color--light: hsla(var(--md-hue), 15%, 15%, 0.9);
    --md-code-bg-color--lighter: hsla(var(--md-hue), 15%, 15%, 0.54);
    --md-code-hl-color: #2977ff;
    --md-code-hl-color--light: #2977ff1a;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: #fff;
    --md-typeset-mark-color: #4287ff4d;
    --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 94%, 0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 94%, 0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
    --md-typeset-table-color: hsla(var(--md-hue), 75%, 95%, 0.12);
    --md-typeset-table-color--light: hsla(var(--md-hue), 75%, 95%, 0.035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color: hsla(var(--md-hue), 15%, 12%, 0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue), 15%, 10%, 1);
    --md-shadow-z1: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000004d, 0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0006, 0 0 0.05rem #00000059;
}

[data-md-color-scheme="light"] {
    --md-accent-fg-color: var(--colors-orange);
    --md-primary-fg-color: var(--colors-navy);
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #90030C;

    /* Copied from indigo */
    --md-default-fg-color: #000000de;
    --md-default-fg-color--light: #0000008a;
    --md-default-fg-color--lighter: #00000052;
    --md-default-fg-color--lightest: #00000012;
    --md-default-bg-color: #fff;
    --md-default-bg-color--light: #ffffffb3;
    --md-default-bg-color--lighter: #ffffff4d;
    --md-default-bg-color--lightest: #ffffff1f;
    --md-code-fg-color: #36464e;
    --md-code-bg-color: #f5f5f5;
    --md-code-bg-color--light: #f5f5f5b3;
    --md-code-hl-color: #4287ff;
    --md-code-hl-color--light: #4287ff1a;
    --md-code-hl-number-color: #d52a2a;
    --md-code-hl-special-color: #db1457;
    --md-code-hl-function-color: #a846b9;
    --md-code-hl-constant-color: #6e59d9;
    --md-code-hl-keyword-color: #3f6ec6;
    --md-code-hl-string-color: #1c7d4d;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-typeset-mark-color: #ffff0080;
    --md-typeset-del-color: #f5503d26;
    --md-typeset-ins-color: #0bd57026;
    --md-typeset-kbd-color: #fafafa;
    --md-typeset-kbd-accent-color: #fff;
    --md-typeset-kbd-border-color: #b8b8b8;
    --md-typeset-table-color: #0000001f;
    --md-typeset-table-color--light: rgba(0, 0, 0, .035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-warning-fg-color: #000000de;
    --md-warning-bg-color: #ff9;
    --md-footer-fg-color: #fff;
    --md-footer-fg-color--light: #ffffffb3;
    --md-footer-fg-color--lighter: #ffffff73;
    --md-footer-bg-color: #000000de;
    --md-footer-bg-color--dark: #00000052;
    --md-shadow-z1: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000001a, 0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #00000059;
}